/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
/* Fonts */

/* Globals Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Ubuntu";
  --secondary-font: "Lobster Two";
  --header-font: "Rye";
  --primary-color: #faba05;
  --secondary-color: #a45319;
  --font-color: #000;
  --accent-color: #171717;
  --global-color: #fff;
  --gray: #838382;
}

.sub-container {
  max-width: 1280px;
  margin: auto;
}

@media screen and (max-width: 1320px) {
  .sub-container {
    padding: 0 30px;
  }

  .row {
    --bs-gutter-x: 0rem !important;
  }
}
/* Globals End */

/* Hero Section Start */
.hero-section {
  background-image: url(../img/hero-bg.png);
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Navbar Start */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  width: 150px;
}

.menu-item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-item li {
  padding: 0 15px;
  font-family: var(--primary-font);
}

.menu-item li a {
  display: flex;
  font-size: 1em;
  text-decoration: none;
  color: var(--global-color);
  font-weight: 400;
  padding: 5px 3px;
  position: relative;
  display: block;
  transition: 0.3s;
}

.menu-item li a:not(.cta-button a):after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.menu-item li a.active,
.menu-item li a:not(.cta-button a):hover {
  color: var(--secondary-color);
}

.menu-item li a.active::after,
.menu-item li a:not(.cta-button a):hover::after {
  transform: scaleX(1) !important;
  transform-origin: left;
  left: 0;
}

.cta-button a {
  border: 2px solid var(--secondary-color);
  padding: 10px 20px 12px !important;
  border-radius: 6px;
  text-align: center;
  font-family: var(--primary-font);
  display: inline-block;
  font-weight: 500 !important;
  transition: 0.5s;
}

.cta-button a:hover {
  background-color: var(--secondary-color);
  border-radius: 30px;
}

.close-btn {
  display: none;
}

.nav-open {
  display: none;
  font-size: 1.4rem;
  color: var(--global-color);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 120px;
  }

  .menu-item {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    flex-direction: column;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    transition: 0.5s;
  }

  .menu-item li {
    padding: 15px 0;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  .close-btn i {
    color: var(--global-color);
    font-size: 1.3rem;
  }

  .nav-open {
    display: block;
  }
}
/* Navbar End */

/* Hero Head Start */
.hero-content-row {
  display: flex;
  height: 65vh;
  align-items: center;
}

.hero-head {
  font-family: var(--header-font) !important;
  color: var(--primary-color);
}

.hero-head h1 {
  font-size: 3.5em;
  text-align: center;
  align-items: center;
}
/* Hero Head End */

/* Hero Subtitle Start */
.hero-subtitle {
  color: var(--global-color);
  font-family: var(--primary-font);
  text-align: center;
  font-weight: 300 !important;
  font-size: 1.1em;
}
/* Hero Subtitle End */

/* Hero Button Start */

.hero-btn {
  text-align: center;
}

.hero-btn a {
  display: inline-block;
  color: var(--global-color);
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 10px 35px 12px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.5s;
}

.hero-btn a:hover {
  background-color: var(--primary-color);
  border-radius: 30px;
}

/* Hero Button End */

@media screen and (max-width: 768px) {
  .hero-head h1 {
    font-size: 2.5em;
  }
  .hero-subtitle {
    padding: 0 20px;
    font-size: 1em;
  }
}
/* Hero Section End */

/* Facilities Section Start */

.facities-section {
  padding: 80px 0 120px;
}

.facilities-head {
  background-image: url(../img/section-header-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 50px;
}

.facilities-head h1 {
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 700;
  color: var(--global-color);
}

.facilities-card {
  border: 1px solid var(--secondary-color);
  border-top: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  border-radius: 8px;
  height: 350px;
  text-align: center;
  padding: 30px 40px;
  margin: 0 10px;
}

.facilities-card-img {
  width: 120px;
  height: 120px;
  margin: auto;
  padding-bottom: 50px;
}

.facilities-card-img img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.facilities-card-head {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1.6em;
  margin-bottom: 30px;
}

.facilities-card-meta {
  font-family: var(--primary-font);
  font-weight: 400;
  color: #838382;
}

@media screen and (max-width: 990px) {
  .facilities-card {
    margin-bottom: 30px;
    height: auto;
    padding: 30px 20px;
  }

  .facities-section {
    padding: 80px 0 80px;
  }
}

/* Facilities Section End */

/* About Us Start */

#about {
  padding-bottom: 100px;
}

.about_row {
  margin-right: 0 !important;
}

.about_content img {
  width: 100%;
}

.about_header {
  width: 80%;
}

.about_content h2 {
  background: url(../img/section-header-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 2em;
  color: var(--global-color);
  font-weight: 700;
  padding: 5px;
}

.about_content h1 {
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 2.8em;
  color: var(--font-color);
  font-weight: 700;
  padding: 20px 0 40px;
}

.about_content p {
  font-size: 1em;
  color: var(--gray);
  font-family: var(--primary-font);
  margin-bottom: 50px;
}

.about_open_time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_open_time .open_time {
  display: flex;
  align-items: center;
}

.about_open_time .open_time .open_header {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.1em;
  border-left: 3px solid var(--secondary-color);
  border-right: 3px solid var(--secondary-color);
  margin-right: 20px;
}

.open_time_date h3 {
  font-size: 1.2em;
  font-family: var(--secondary-font);
  font-weight: 700;
  color: var(--font-color);
}

.open_time_date h3 span {
  color: var(--secondary-color);
}

.about_btn a {
  border: 2px solid var(--secondary-color);
  padding: 10px 35px 12px !important;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 6px;
  text-align: center;
  font-family: var(--primary-font);
  display: inline-block;
  font-weight: 500 !important;
  transition: 0.5s;
}

.about_btn a:hover {
  background-color: var(--secondary-color);
  color: var(--global-color);
  border-radius: 30px;
}

@media screen and (max-width: 990px) {
  .about_header {
    width: 100%;
  }

  .about_content img {
    width: 80%;
    display: block;
    margin: 60px auto 0;
  }
}

@media screen and (max-width: 575px) {
  .about_content h1 {
    font-size: 2em;
  }

  .about_content h2 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 500px) {
  .about_open_time {
    display: block;
    justify-content: left;
  }

  .about_open_time .open_time {
    justify-content: center;
  }

  .about_btn {
    margin-top: 40px;
    text-align: center;
  }
}

/* About Us End */

/* Menu Start */

#menu {
  padding-bottom: 100px;
}

.menu_item {
  width: 100%;
  height: 220px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  margin-bottom: 25px;
  position: relative;
  transition: 0.5s;
}

.menu_item img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.menu_item_btn {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_item:hover .menu_item img {
  opacity: 0.3;
}

.menu_item:hover .menu_item_btn {
  opacity: 1;
}

.menu_item_btn a {
  display: inline-block;
  color: var(--global-color);
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 10px 35px 12px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.5s;
}

.menu_item_btn a:hover {
  background-color: var(--primary-color);
  border-radius: 30px;
}

.menu_item_btn a img {
  width: 25px;
}

.menu_btn {
  text-align: center;
  margin-top: 10px;
}

.menu_btn a {
  border: 2px solid var(--secondary-color);
  padding: 10px 35px 12px !important;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 6px;
  text-align: center;
  font-family: var(--primary-font);
  display: inline-block;
  font-weight: 500 !important;
  transition: 0.5s;
}

.menu_btn a:hover {
  background-color: var(--secondary-color);
  color: var(--global-color);
  border-radius: 30px;
}

/* menu tab works */

.menu_content .menu_tab_content {
  display: none;
  animation: tabContenAnimate 0.8s ease;
}

@keyframes tabContenAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu_content .menu_tab_content.active {
  display: block;
}

.menu_content h2 {
  background: url(../img/section-header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: var(--secondary-font);
  color: var(--global-color);
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.menu_content h1 {
  font-family: var(--secondary-font);
  color: var(--font-color);
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  margin-top: 30px;
}

.menu_item_tab {
  list-style: none;
  margin-left: 0;
  padding: 0;
  margin-top: 50px;
  text-align: center;
}

.menu_item_tab li {
  margin: 20px 0;
  padding: 10px 0;
  border-radius: 4px;
  color: var(--font-color);
  font-size: 1.1em;
  font-family: var(--primary-font);
  font-weight: 700;
  cursor: pointer;
}

.menu_item_tab li.active {
  border-top: 3px solid var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}

.menu_item_tab li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu_item_tab li a {
  text-decoration: none;
  color: var(--font-color);
}

.mobile_menu_content {
  display: none;
}

@media screen and (max-width: 990px) {
  .menu_item {
    height: auto;
  }

  .mobile_menu_content {
    display: block;
  }

  .menu_content h1 {
    font-size: 2em;
  }

  .menu_content h2 {
    font-size: 1.8em;
  }

  .tab_menu {
    display: none;
  }

  .mobile_menu_item_tab {
    display: flex;
    align-items: center;
    margin: 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

  .mobile_menu_item_tab::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .mobile_menu_item_tab.dragging {
    scroll-behavior: auto;
    cursor: grab;
  }

  .mobile_menu_item_tab li {
    margin: 0 10px;
    white-space: nowrap;
    padding: 6px 10px;
  }

  .mobile_menu_item_tab.dragging .menu_tab_btn {
    user-select: none;
  }

  .mobile_menu_tabs {
    overflow-x: hidden;
    position: relative;
    margin: 30px 0 40px;
  }

  .mobile_menu_tabs .tab_icons {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .mobile_menu_tabs .tab_icons:first-child {
    left: 0;
    display: none;
    background: linear-gradient(90deg, #fff 50%, transparent);
  }

  .mobile_menu_tabs .tab_icons:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #fff 50%, transparent);
  }

  .mobile_menu_tabs .tab_icons i {
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 1.4em;
    cursor: pointer;
    color: var(--secondary-color);
  }
}

/* Menu End */

/* Special Menu start */

#special_menu {
  background-color: var(--secondary-color);
  padding: 20px 0 30px;
  margin-bottom: 100px;
}

.special_menu_header h2 {
  background: url(../img/section-header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: var(--secondary-font);
  color: var(--global-color);
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.special_menu_header h1 {
  font-family: var(--secondary-font);
  color: var(--global-color);
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.special_menu_card {
  width: 100%;
  height: 450px;
  background-color: var(--primary-color);
  margin-top: 30px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
}

.special_menu_card_img {
  width: 100%;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  padding: 20px;
}

.special_menu_card_img img {
  width: 80%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.special_menu_card h3 {
  font-family: var(--secondary-font);
  color: var(--global-color);
  text-align: center;
  font-weight: 700;
  font-size: 1.8em;
  margin: 60px 0 40px;
}

.special_menu_card_price {
  background-color: var(--secondary-color);
  border-radius: 30px;
  padding: 3px;
  display: inline-block;
}

.special_menu_card_price div {
  border: 1px solid var(--global-color);
  border-radius: 30px;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.5em;
  color: var(--global-color);
  font-weight: 700;
  padding: 0 30px 0 20px;
  position: relative;
}

.special_menu_card_price div span {
  font-size: 0.6em !important;
  color: var(--font-color);
  font-weight: 500;
  position: absolute;
  top: 3px;
}

.special_menu_btn {
  text-align: center;
  margin-top: 30px;
}

.special_menu_btn a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-weight: 700;
  padding: 10px 30px 12px;
  background-color: var(--global-color);
  border-radius: 6px;
  border: 2px solid var(--global-color);
  transition: 0.5s;
}

.special_menu_btn a:hover {
  background-color: transparent;
  color: var(--global-color);
  border-radius: 30px;
}

@media screen and (max-width: 990px) {
  .special_menu_header h1 {
    font-size: 2em;
  }

  .special_menu_header h2 {
    font-size: 1.8em;
  }
}

/* Special Menu end */

/* Events Start */

#events {
  margin-bottom: 100px;
}

.events_header h2 {
  background: url(../img/section-header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: var(--secondary-font);
  color: var(--global-color);
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.events_header h1 {
  font-family: var(--secondary-font);
  color: var(--font-color);
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.events_card {
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.events_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.events_card_long_img {
  height: 410px;
}

.events_card_midle_img_row {
  margin-top: 23px !important;
}

.events_card {
  width: 100%;
  border: 1px solid var(--secondary-color);
  position: relative;
  transition: 0.5s;
}

.events_card img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.events_item_btn {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.events_card:hover .events_card img {
  opacity: 0.3;
}

.events_card:hover .events_item_btn {
  opacity: 1;
}

.events_item_btn a {
  display: inline-block;
  color: var(--global-color);
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 10px 35px 12px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.5s;
}

.events_item_btn a:hover {
  background-color: var(--primary-color);
  border-radius: 30px;
}

.events_item_btn a img {
  width: 25px;
}

.events_btn {
  text-align: center;
  margin-top: 40px;
}

.events_btn a {
  border: 2px solid var(--secondary-color);
  padding: 10px 35px 12px !important;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 6px;
  text-align: center;
  font-family: var(--primary-font);
  display: inline-block;
  font-weight: 500 !important;
  transition: 0.5s;
}

.events_btn a:hover {
  background-color: var(--secondary-color);
  color: var(--global-color);
  border-radius: 30px;
}

@media screen and (max-width: 1200px) {
  .events_card_long_img {
    height: 370px;
  }
}

@media screen and (max-width: 1100px) {
  .events_card_long_img {
    height: 340px;
  }
}

@media screen and (max-width: 1000px) {
  .events_card_long_img {
    height: 310px;
  }
}

@media screen and (max-width: 990px) {
  .events_header h1 {
    font-size: 2em;
  }

  .events_header h2 {
    font-size: 1.8em;
  }

  .events_card {
    margin: 10px 0;
  }
}

/* Events end */

/* Testimonial Start */

#testimonial {
  margin-bottom: 50px;
}

.tesmonial_header h2 {
  background: url(../img/section-header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: var(--secondary-font);
  color: var(--global-color);
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.tesmonial_header h1 {
  font-family: var(--secondary-font);
  color: var(--font-color);
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.testimonial_avatars {
  width: 280px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial_avatars_img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: auto;
}

.slide p {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--gray);
  margin-bottom: 40px;
}

.slide h3 {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.5em;
  margin: 20px 0 5px;
}

.testimonial_rating {
  text-align: center;
}

.testimonial_rating span i {
  color: var(--primary-color);
}

.testimonial_rating span:last-child i {
  color: var(--gray);
}

.testimonial_wapper {
  position: relative;
}

.testimonials {
  max-width: 800px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

/* swiper button css */

.slide_arrow_icons {
  width: 45px !important;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide_arrow_icons:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.slide_arrow_icons::after,
.slide_arrow_icons::before {
  font-size: 2em !important;
  color: var(--secondary-color);
}

/* .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
} */

@media screen and (max-width: 990px) {
  .tesmonial_header h1 {
    font-size: 2em;
  }

  .tesmonial_header h2 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 768px) {
  .slide_arrow_icons {
    display: none !important;
  }
}

/* Testimonial End */

/* Newsletter start */

#newsletter {
  background: url(../img/newsletter_bg_img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter_rotate_box {
  position: relative;
}

.newsletter_border_box {
  width: 160px;
  height: 160px;
  border: 2px solid var(--global-color);
  border-radius: 3px;
  margin: auto;
  position: relative;
  animation: rotateBox 5s linear infinite;
}

@keyframes rotateBox {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.newsletter_solid_box {
  width: 180px;
  height: 180px;
  background-color: var(--global-color);
  border-radius: 3px;
  margin: auto;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.newsletter_solid_box img {
  width: 130px;
  display: block;
  margin: auto;
  transform: rotate(-45deg);
}

.newsletter_content h1 {
  font-family: var(--secondary-font);
  color: var(--global-color);
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: 990px) {
  .newsletter_content h1 {
    font-size: 2.2em;
  }
}

/* Newsletter end */

/* Footer Start */

#footer {
  background-color: var(--accent-color);
  padding-top: 100px;
}

.footer_content .social_links h3 {
  font-family: var(--primary-font);
  color: var(--global-color);
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
}

.footer_content .social_icons {
  text-align: center;
  margin-top: 40px;
}

.footer_content .social_icons a {
  text-decoration: none;
  color: var(--global-color);
  font-size: 1.6em;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 30px;
  transition: 0.5s;
}

.footer_content .social_icons a:hover {
  color: var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer_content .footer_menu_items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.footer_content .footer_menu_items li {
  margin: 10px 20px;
}

.footer_content .footer_menu_items li a {
  text-decoration: none;
  color: var(--global-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.1em;
  transition: 0.5s;
}

.footer_content .footer_menu_items li a:hover {
  color: var(--secondary-color);
}

.footer_content .contact_items {
  display: flex;
  color: var(--global-color);
  font-family: var(--primary-font);
  margin-bottom: 30px;
}

.footer_content .contact_items .contact_item_name {
  font-weight: 600;
  margin-right: 10px;
}

.contact_items .contact_item_content a {
  display: block;
  text-decoration: none;
}

.contact_items .contact_item_number a {
  color: var(--secondary-color);
  letter-spacing: 2px;
  margin-bottom: 6px;
}

.contact_items .contact_item_mail a {
  color: var(--global-color);
}

.copyright p {
  font-family: var(--global-color);
  text-align: center;
  color: var(--global-color);
  margin-bottom: 0;
  padding: 50px 0 30px;
}

.back-top-icon {
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--global-color);
  display: inline-block;
  background-color: var(--accent-color);
  border: 2px solid var(--secondary-color);
  text-decoration: none;
  border-radius: 50%;
  position: relative;
}

.back-top-icon i {
  font-size: 1.2em;
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 30px;
}

@media screen and (max-width: 990px) {
  .back-to-top {
    bottom: 10px;
    right: 10px;
  }

  .footer_content .footer_menu_items {
    margin-bottom: 50px;
  }

  .copyright p {
    font-size: 0.9em;
    padding: 30px 0 30px;
  }
}

/* Footer end */

/* 

//
//
//// Menu Page ////
//
//

 */

/* Menu Hero Start */

#menu_hero {
  background-image: url(../img/menu/menu_hero_bg_img.png);
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.menu_hero_content {
  text-align: center;
  margin-top: -90px;
}

.menu_hero_content h1 {
  font-family: var(--header-font);
  font-size: 3.5em;
  color: var(--primary-color);
}

.menu_hero_content .hero_devider {
  width: 250px;
  height: 4px;
  background-color: var(--global-color);
  border-radius: 30px;
  margin: auto;
}

.menu_hero_content p {
  font-family: var(--primary-font);
  color: var(--global-color);
  font-size: 1.8em;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .hero-head h1 {
    font-size: 2.5em;
  }
  .hero-subtitle {
    padding: 0 20px;
    font-size: 1em;
  }
}

/* Menu Hero End */

/* Product Menu Start */

#product_menu {
  margin: 100px 0;
}

.product_menu_header h2 {
  background: url(../img/section-header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: var(--secondary-font);
  color: var(--global-color);
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.product_menu_header h1 {
  font-family: var(--secondary-font);
  color: var(--font-color);
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* product menu tabs */
.product_menu_tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 40px;
}

.product_menu_item_tab {
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(100% - 100px);
  display: flex;
  align-items: center;
  margin: 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.product_menu_item_tab::-webkit-scrollbar {
  display: none;
  width: 0;
}

.product_menu_item_tab li {
  margin: 0 10px;
  padding: 8px 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 1.1em;
  font-family: var(--primary-font);
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s;
}

.product_menu_item_tab li.active,
.product_menu_item_tab li:hover {
  background-color: var(--secondary-color);
  color: var(--global-color);
}

.product_menu_item_tab li:first-child {
  margin-left: 0;
}
.product_menu_item_tab li:last-child {
  margin-right: 0;
}

.product_tab_arrow_icon i {
  width: 45px !important;
  height: 45px;
  font-size: 1.4em;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
}

.product_tab_arrow_icon:first-child {
  margin-right: 10px;
}
.product_tab_arrow_icon:last-child {
  margin-left: 10px;
}

.product_menu_item_tab.productDragging {
  scroll-behavior: auto;
  cursor: grab;
}

.product_menu_item_tab.productDragging .product_menu_tab_btn {
  user-select: none;
}

/* product menu content */

.product_menu_item {
  width: 100%;
  height: 330px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  margin-bottom: 25px;
  position: relative;
  transition: 0.5s;
}

.product_menu_item img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.product_menu_item_btn {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_menu_item:hover .product_menu_item img {
  opacity: 0.3;
}

.product_menu_item:hover .product_menu_item_btn {
  opacity: 1;
}

.product_menu_item_btn a {
  display: inline-block;
  color: var(--global-color);
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 10px 35px 12px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.5s;
}

.product_menu_item_btn a:hover {
  background-color: var(--primary-color);
  border-radius: 30px;
}

.product_menu_item_btn a img {
  width: 25px;
}

.product_menu_content .product_menu_tab_content {
  display: none;
  animation: productTabContenAnimate 0.8s ease;
}

@keyframes productTabContenAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product_menu_content .product_menu_tab_content.active {
  display: block;
}

/* product pagination */

.product_menu_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  margin: 40px auto 0;
}

.pagination_arrow_icon i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 1.4em;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.pagination_arrow_icon i:first-child {
  margin-right: 15px;
}

.pagination_arrow_icon i:last-child {
  margin-left: 15px;
}

.pagination_arrow_icon i:hover {
  background-color: var(--secondary-color);
  color: var(--global-color);
}

.product_menu_pagination .product_pagination_tab {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.product_pagination_tab li {
  margin: 0 15px;
}

.product_pagination_tab li a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  font-size: 1.4em;
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--primary-font);
  font-weight: 500;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  transition: 0.5s;
}

.product_pagination_tab li a:hover {
  background-color: var(--secondary-color);
  color: var(--global-color);
}

@media screen and (max-width: 990px) {
  .product_menu_header h1 {
    font-size: 2em;
  }

  .product_menu_header h2 {
    font-size: 1.8em;
  }
}

/* Product Menu End */

/* 

//
//
//// Contact Page ////
//
//

 */

/* Contact Hero Start */

#contact_hero {
  background-image: url(../img/contact/contact_hero_bg_img.png);
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact_hero_content {
  text-align: center;
  margin-top: -90px;
}

.contact_hero_content h1 {
  font-family: var(--header-font);
  font-size: 3.5em;
  color: var(--primary-color);
}

.contact_hero_content .conatct_hero_devider {
  width: 350px;
  height: 4px;
  background-color: var(--global-color);
  border-radius: 30px;
  margin: auto;
}

.contact_hero_content p {
  font-family: var(--primary-font);
  color: var(--global-color);
  font-size: 1.8em;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .contact_hero_content h1 {
    font-size: 3em;
  }

  .contact_hero_content .conatct_hero_devider {
    width: 300px;
  }

  .contact_hero_content p {
    font-size: 1.6em;
  }
}

/* Contact Hero End */

/* Contact Start */

#contact {
  margin: 100px 0;
}

.contact_header h2 {
  background: url(../img/section-header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: var(--secondary-font);
  color: var(--global-color);
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.contact_box {
  border: 1px solid var(--secondary-color);
  border-top: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  border-radius: 8px;
  padding: 50px 20px 10px;
  margin-top: 30px;
}

.contact_info h3 {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 2.4em;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 20px;
}

.contact_info p {
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: 5px;
  font-size: 1em;
  color: var(--secondary-color);
}

.contact_info p a {
  font-family: var(--primary-font);
  text-decoration: none;
  color: var(--secondary-color);
}

.contact_number p a {
  letter-spacing: 2px;
}

.contact_map iframe {
  width: 100%;
  height: 400px;
  margin-top: 50px;
}

@media screen and (max-width: 990px) {
  .contact_box {
    padding: 0 20px 10px;
  }

  .contact_map iframe {
    height: 300px;
  }

  .contact_info h3 {
    font-size: 2em;
    margin-top: 30px;
  }
}

/* Contact End */
